<div style="background-color: #fff; padding: 50px" class="import-container container">
  <p id="notice"><%= notice %></p>
  <h1>Import dữ liệu từ excel</h1>
  <%= link_to root_path do %>
    <div class="btn btn-primary">
      Về trang chủ
    </div>
  <% end %>
  <div>
    <h4>Bảng House</h4>
    <%= form_tag import_houses_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Thêm dữ liệu cho bảng House", class: "btn btn-success" %>
    <% end %>
  </div>
  <div>
    <h4>Photo House</h4>
    <%= form_tag import_house_photos_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Thêm dữ liệu cho bảng HousePhoto", class: "btn btn-success" %>
    <% end %>
  </div>
  <div>
    <h4>Bảng Comment</h4>
    <%= form_tag import_comments_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Thêm dữ liệu cho bảng Comment", class: "btn btn-success" %>
    <% end %>
  </div>
  <div>
    <h4>Bảng Care</h4>
    <%= form_tag import_cares_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Them dữ liệu cho bảng care", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
