<div class="detail_post">
  <section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
      <div class="container pt-lg-5 py-3"></div>
    </div>
  </section>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li class="active">
          <span class="fa fa-angle-right mx-2" aria-hidden="true"></span>
          <%= @house.city %>
        </li>
        <li class="active">
          <span class="fa fa-angle-right mx-2" aria-hidden="true"></span>
          Nhà cho thuê
        </li>
      </ul>
    </div>
  </section>
  <!--/blog-post-->
  <section class="w3l-blog post-content py-5">
    <div class="container py-lg-4 py-md-3 py-2">
      <div class="inner mb-4">
        <ul class="blog-single-author-date align-items-center">
          <li>
            <div class="listing-category">
              <span>Rent</span>
            </div>
          </li>
          <li><span class="fa fa-clock-o"></span> <%= time_ago_in_words(@house.created_at) %> ago</li>
          <li>
            <% 5.times do |x| %>
              <% if (x < average_star(@house.id)) %>
                <span class="fa fa-star star-checked"></span>
              <% else %>
                <span class="fa fa-star"></span>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= @house.view %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg>
          </li>
          <li>
            <%= @house.comment.count %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-text-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM4.5 5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/>
            </svg>
          </li>
        </ul>
      </div>
      <div class="post-content">
        <h2 class="title-single">
          <%= @house.title %>
        </h2>
      </div>
      <div class="blo-singl mb-4">
        <ul class="blog-single-author-date align-items-center">
          <li>
            <p><%= @house.address %> - <b><i><%= @house.city %></i></b></p>
          </li>
        </ul>
        <ul class="share-post">
          <a href="#" class="cost-estate m-o"><%= @house.pice %> VND</a>
        </ul>
      </div>
      <div class="row">
        <div class="col-lg-8 w3l-news">
          <div class="blog-single-post">
            <div class="single-post-image mb-5">
              <div class="owl-blog owl-carousel owl-theme">
                <div class="item">
                  <div class="card">
                    <img
											src="../assets/p1.jpg"
											class="img-fluid radius-image"
											alt="image"
										/>
                    </div>
                  </div>
                  <div class="item">
                    <div class="card">
                      <img
											src="../assets/p2.jpg"
											class="img-fluid radius-image"
											alt="image"
										/>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card">
                        <img
											src="../assets/p3.jpg"
											class="img-fluid radius-image"
											alt="image"
										/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="single-post-content">
                    <h3 class="post-content-title mb-3">Mô tả chi tiết</h3>
                    <% if user_signed_in? && current_user.id == @house.user_id %>
                      <div style="display: flex; width: 100%; justify-content: flex-end;">
                        <div style="margin-right: 10px">
                          <%= link_to edit_house_path(@house), class: "btn btn-primary" do %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                          <% end %>
                        </div>
                        <div>
                          <%= link_to house_path(@house), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                            </svg>
                          <% end %>
                        </div>
                      </div>
                    <% else %>
                      <div style="display: flex; width: 100%; justify-content: flex-end;">
                        <div id="box-content-care" style="margin-right: 10px">
                          <% if user_signed_in? && @house.care.map { |e| e.user_id }.include?(current_user.id) %>
                            <div id="btn-care-remove" data-host=<%= @house.user.id %> data-user=<%= current_user.id %> data-house=<%= @house.id %> data-care=<%= Care.find_by(user_id: current_user.id, house_id: @house.id).id %> class="btn btn-danger">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
                                <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                              </svg>
                              Het Quan tâm
                            </div>
                          <% else %>
                            <% if user_signed_in? %>
                              <div id="btn-care-add" data-host=<%= @house.user.id %> data-user=<%= current_user.id %> data-house=<%= @house.id %> class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path fill-rule="evenodd" d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/>
                                </svg>
                                Quan tâm
                              </div>
                            <% else %>
                              <%= link_to signin_path do %>
                                <div class="btn btn-primary">
                                  Quan tâm
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                    <p class="mb-4">
                      <%= @house.description %>
                    </p>
                    <div class="single-bg-white">
                      <h3 class="post-content-title mb-4">Chi tiết phòng</h3>
                      <ul class="details-list">
                        <li><strong>Diện tích:</strong> <%= @house.acreage %> m2</li>
                        <li><strong>Phòng ngủ:</strong> <%= @house.bedrooms %> phòng</li>
                        <li><strong>Phòng tắm:</strong> <%= @house.bathrooms %> phòng</li>
                        <li><strong>Loại phòng:</strong> <%= @house.kind %></li>
                        <li><strong>Chỗ để xe:</strong> <%= @house.gara_size %> xe máy</li>
                        <li><strong>Giá thuê:</strong> <%= @house.pice %> VND</li>
                      </ul>
                    </div>
                    <div class="single-bg-white">
                      <h3 class="post-content-title mb-4">Tiện ích</h3>
                      <ul class="details-list">
                        <li>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                            <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z"/>
                            <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                            <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                          </svg>
                          <strong class=<%= "#{ @house.is_aircon ? 'tien-ich-yes' : 'tien-ich-no' }" %>>Điều hòa</strong>
                        </li>
                        <li>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                            <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z"/>
                            <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                            <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                          </svg>
                          <strong class=<%= "#{ @house.is_aircon ? 'tien-ich-yes' : 'tien-ich-no' }" %>>Nóng lạnh </strong>
                        </li>
                        <li>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5a1 1 0 0 0 0 2 8 8 0 0 1 8 8 1 1 0 1 0 2 0c0-5.523-4.477-10-10-10zm0 4a1 1 0 0 0 0 2 4 4 0 0 1 4 4 1 1 0 1 0 2 0 6 6 0 0 0-6-6zm.5 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                          </svg>
                          <strong class=<%= "#{ @house.is_wf ? 'tien-ich-yes' : 'tien-ich-no' }" %>>Wifi</strong>
                        </li>
                        <li>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172z"/>
                            <path d="M2.468 15.426L.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
                          </svg>
                          <strong class=<%= "#{ @house.is_cook ? 'tien-ich-yes' : 'tien-ich-no' }" %>>Nấu ăn</strong>
                        </li>
                        <li>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-post" viewBox="0 0 16 16">
                            <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-8z"/>
                            <path fill-rule="evenodd" d="M4 3.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                            <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                          </svg>
                          <strong class=<%= "#{ @house.is_elevator ? 'tien-ich-yes' : 'tien-ich-no' }" %>>Thang máy</strong>
                        </li>
                        <li>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                            <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                          </svg>
                          <strong class=<%= "#{ @house.is_time_free ? 'tien-ich-yes' : 'tien-ich-no' }" %>>Thời gian free</strong>
                        </li>
                        <li>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                          </svg>
                          <strong class=<%= "#{ @house.is_pet ? 'tien-ich-yes' : 'tien-ich-no' }" %>>Nuôi pet</strong>
                        </li>
                        <li>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                            <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                          </svg>
                          <strong class=<%= "#{ @house.is_wc ? 'tien-ich-yes' : 'tien-ich-no' }" %>>Nhà vệ sinh</strong>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h3 class="title-image-slide">Ảnh minh họa</h3>
                  <div style="padding: 10px" class="slide-show">
                    <style>
                      .row {
                        display: -ms-flexbox;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        padding: 0 4px;
                      }
                      .column {
                        -ms-flex: 50%;
                        flex: 50%;
                        max-width: 50%;
                        padding: 0 4px;
                      }
                      
                      .item-img-slide {
                        border-radius: 5px;
                      }
                      
                      .item-img-slide:hover {
                        cursor: pointer;
                        border: 4px solid #fff;
                      }
                      
                      .column img {
                        margin-top: 8px;
                        vertical-align: middle;
                        width: 100%;
                      }
                      @media screen and (max-width: 800px) {
                        .column {
                          -ms-flex: 50%;
                          flex: 50%;
                          max-width: 50%;
                        }
                      }
                      @media screen and (max-width: 600px) {
                        .column {
                          -ms-flex: 100%;
                          flex: 100%;
                          max-width: 100%;
                        }
                      }
                    </style>
                    <div class="row">
                      <div class="column">
                        <% @house_photos.each_with_index do |p, index| %>
                          <% if (index % 2) == 0 %>
                            <img src=<%= p.photo_url %> class="item-img-slide" style="width:100%">
                          <% end %>
                        <% end %>
                      </div>
                      <div class="column">
                        <% @house_photos.each_with_index do |p, index| %>
                          <% if (index % 2) == 1 %>
                            <img src=<%= p.photo_url %> class="item-img-slide" style="width:100%">
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <button type="button" style="display: none" id="btn-show-image" data-toggle="modal" data-target="#exampleModalCenter">
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <img id="src-result-show-img" src="" style="width:100%">
                        </div>
                      </div>
                    </div>
                    <script>
                      let btnShowImage = document.getElementById("btn-show-image");
                      let srcResultShowImg = document.getElementById("src-result-show-img")
                      let images = document.querySelectorAll(".item-img-slide")
                      for (let i = 0; i < images.length; ++i) {
                        images[i].onclick = function () {
                          srcResultShowImg.src = this.src
                          btnShowImage.click();
                        }
                      }
                    </script>
                  </div>
                  <div class="single-bg-white mb-0">
                    <h3 class="post-content-title mb-4">Video</h3>
                    <div class="post-content">
                      <iframe
                        src="https://www.youtube.com/embed/YWyuzXyLg68"
                        frameborder="0"
                        allowfullscreen=""
                      ></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar-side col-lg-4 col-md-12 col-sm-12 mt-lg-0 mt-5">
                <aside class="sidebar">
                  <div class="sidebar-widget popular-posts">
                    <div class="sidebar-title">
                      <h4>Cùng thành phố</h4>
                    </div>
                    <% house_by_city(@house.city).each_with_index do |house, idx| %>
                      <% if !(@house.id == house.id) %>
                        <%= render "shared/detail_post_page/popular_post", house: { house: house, img: house.house_photos[0].photo_url } %>
                      <% end %>
                      <% if idx == 7 %>
                        <% break %>
                      <% end %>
                    <% end %>
                  </div>
                </aside>
              </div>
              <div class="box-comment-house row mt-5 col-12">
                <div class="container col-8 row">
                  <div style="text-align: center;" class="col-12 mb-4">
                    <h2>Đánh giá về trải nghiệm của bạn</h2>
                  </div>
                  <div class="col-lg-12 col-sm-6 text-center">
                    <% if user_signed_in? %>
                      <div class="rating">
                        <div class="form-group" id="rating-ability-wrapper">
                          <label class="control-label" for="rating">
                            <span class="field-label-info"></span>
                            <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                          </label>
                          <button type="button" class="btnrating btn btn-dark btn-lg" data-attr="1" id="rating-star-1">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btnrating btn btn-dark btn-lg" data-attr="2" id="rating-star-2">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btnrating btn btn-dark btn-lg" data-attr="3" id="rating-star-3">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btnrating btn btn-dark btn-lg" data-attr="4" id="rating-star-4">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btnrating btn btn-dark btn-lg" data-attr="5" id="rating-star-5">
                            <i class="fa fa-star" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" id="text-review-house" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button id="btn-submit-review-house" class="btn btn-primary" data-user=<%= current_user.id %> data-house=<%= @house.id %> type="button">Đánh giá</button>
                        </div>
                      </div>
                    <% else %>
                      <div class="">
                        <%= link_to signin_path do %>
                          <div class="btn btn-primary">
                            Đăng nhập để đánh giá
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <div id="list-comment-review-house" class="list-comment-review-house">
                      <% if @house.comment %>
                        <% @house.comment.reverse.each do |comment| %>
                          <div class="list-comment-review-house-item">
                            <div class="list-comment-top row">
                              <div class="col-3 list-comment-top-name">
                                <%= comment.user.username %>
                              </div>
                              <div class="col-6 list-comment-top-star">
                                <% 5.times do |x| %>
                                  <% if (x < comment.star) %>
                                    <span class="fa fa-star star-checked"></span>
                                  <% else %>
                                    <span class="fa fa-star"></span>
                                  <% end %>
                                <% end %>
                              </div>
                              <div class="col-3 list-comment-top-time">
                                <%= time_ago_in_words(comment.created_at) %> ago
                              </div>
                            </div>
                            <div class="list-comment-content row">
                              <p>
                                <%= comment.content %>
                              </p>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render "module_script/home_page" %>
</div>
